<main style="max-height: 100%">
  <p style="font-family: 'Roboto', sans-serif; color: rgb(94, 133, 111)">
    <strong>Create your account</strong>
  </p>
  <form [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        matInput
        class="first-name"
        type="text"
        placeholder="Ex. John"
        formControlName="firstName"
      />
      <mat-error *ngIf="form.get('firstName')!.hasError('required')"
        >First name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        matInput
        class="last-name"
        type="text"
        placeholder="Ex. Doe"
        formControlName="lastName"
      />
      <mat-error *ngIf="form.get('lastName')!.hasError('required')"
        >Last name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        class="email"
        type="email"
        placeholder="Ex. john@example.com"
        formControlName="email"
      />
      <mat-error *ngIf="form.get('email')!.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="form.get('email')!.hasError('email')"
        >Please enter a valid email address</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        class="password"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="form.get('password')!.hasError('required')"
        >Password is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        class="confirm-password"
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="form.get('confirmPassword')!.hasError('required')"
        >Confirm Password is required</mat-error
      >
    </mat-form-field>

    <mat-error *ngIf="form.errors?.['passwordsDontMatch']"
      >Passwords should match</mat-error
    >
    <button
      class="register"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      REGISTER
    </button>
  </form>
</main>
