<!-- Here's the DIV that we inject the map into -->

<div fxLayout="row">
  <div class="form-group" fxLayout="column">
    <label for="category">Match selection</label>
    <select
      (change)="handleMatchSelect($event.target.value)"
      [(ngModel)]="selectedMatchId"
    >
      <option [value]="-1">Select a match</option>
      <option class="" *ngFor="let m of matches$ | async" [value]="m.match_id">
        {{ m.round }} {{ m.home_team }} - {{ m.away_team }}
      </option>
    </select>

    <p>Selected match id: {{ selectedMatchId }}</p>

    <div *ngIf="selectedStadium !== undefined">
      <p>{{ selectedStadium.name }}</p>
      <p>{{ selectedStadium.capacity }}</p>
    </div>

    <button [disabled]="!user" (click)="bookTicket()">Book a ticket</button>
  </div>

  <div fxFlex="20%" fxLayout="column">
    <mat-list>
      <!-- <mat-list-item> -->
      <!-- <span class="label">Firebase</span> -->
      <!-- </mat-list-item> -->
      <!-- <mat-divider></mat-divider> -->
      <!-- <mat-list-item> -->
      <!-- <button
          mat-button
          mat-button
          color="primary"
          class="full-w"
          (click)="connectFirebase()"
          style="color: rgb(94, 133, 111)"
        > -->
      <!-- Connect -->
      <!-- </button> -->
      <!-- </mat-list-item> -->
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <button
          mat-button
          mat-button
          color="primary"
          class="full-w"
          (click)="addPointItem()"
          style="color: rgb(94, 133, 111)"
        >
          Add item
        </button>
      </mat-list-item>
    </mat-list>

    <!-- <form>
      <input type="email" id="email" />
      <label for="email">Email</label>
      <br />
      <input type="password" id="password" />
      <label for="password">Password</label>
      <br />
      <button id="login-btn">Login</button>
      <button id="logout-btn">Logout</button>
    </form> -->
  </div>
  <div fxFlex="80%">
    <div #mapViewNode></div>
  </div>
</div>
