<!-- Here's the DIV that we inject the map into -->

<div fxLayout="row">
  <div class="form-group" fxFlex="20%" fxLayout="column">
    <!-- <label for="category">Match selection</label>
    <select
      (change)="handleMatchSelect($event.target.value)"
      [(ngModel)]="selectedMatchId"
    >
      <option [value]="-1">Select a match</option>
      <option class="" *ngFor="let m of matches$ | async" [value]="m.match_id">
        {{ m.round }} {{ m.home_team }} - {{ m.away_team }}
      </option>
    </select> -->

    <div style="padding: 0.5rem">
      <!-- <p>{{ selectedStadium.name }}</p>
      <p>{{ selectedStadium.capacity }}</p> -->

      <mat-card
        *ngIf="selectedStadium !== undefined && selectedMatch !== undefined"
      >
        <mat-card-title>My Selection:</mat-card-title>
        <mat-card-content>
          <p>
            {{ selectedStadium.name }}, capacity: {{ selectedStadium.capacity }}
          </p>
          <p>
            {{ selectedMatch.round }}: {{ selectedMatch.home_team }} -
            {{ selectedMatch.away_team }}
          </p>
          <button
            mat-raised-button
            class="custom-button"
            (click)="bookTicket()"
            [disabled]="!user"
          >
            Book a ticket
          </button>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="width: 100%; padding: 0.5rem">
      <h3>Displayed Matches</h3>
      <mat-list *ngIf="displayedMatches">
        <div *ngFor="let match of displayedMatches">
          <div fxLayout="column">
            <div fxLayout="column" fxLayoutAlign="center start">
              <span>
                {{ match.round }}: {{ match.home_team }} VS
                {{ match.away_team }}
              </span>
              <span>Available tickets: {{ match.available_tickets }}</span>
              <button
                mat-button
                (click)="selectedMatch = match"
                class="custom-button"
              >
                Select Match
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-list>
    </div>

    <mat-slide-toggle [(ngModel)]="routingEnabled" color="primary">
      Enable routing on click
    </mat-slide-toggle>
  </div>

  <div fxFlex="80%" fxLayout="column" style="max-height: 100%">
    <div #mapViewNode></div>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      style="overflow-x: auto"
      fxLayoutAlign="start center"
    >
      <mat-card
        *ngFor="let stadium of stadiums$ | async"
        style="
          min-width: 300px;
          min-height: fit-content;
          height: 400px;
          max-height: 100%;
        "
      >
        <mat-card-header>
          <mat-card-title>{{ stadium.name }}</mat-card-title>
          <mat-card-subtitle
            >{{ stadium.city }} - {{ stadium.country }}</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          [src]="stadium.photo"
          alt="{{ stadium.name }}"
          height="200"
          width="200"
        />
        <mat-card-content>
          <p>Capacity: {{ stadium.capacity }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            (click)="viewMatches(stadium)"
            class="custom-button"
          >
            View Matches
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
